<div id="container">
<div *ngIf="bool">
<input type="checkbox" name="task1" id="task1" checked  >
<label for="task1"><del> Task done</del></label>
<br>
<input type="checkbox" name="task2" id="task2"  checked  >
<label for="task2"><del> Task done</del></label>
<br>
<input type="checkbox" name="task3" id="task3" checked >
<label for="task3"><del> Task done</del></label>
<br>
</div>
<div>
<button style="background-color: red;color:white" (click)="deleteAll()" *ngIf="buttonDelete">delete all</button>
</div>
</div>